<?xml version="1.0" encoding="utf-8"?>
<Rarekiller>
  <!--=======================================================================
.CONFIG  -  This is the Config File For Rarekiller

XML file containing settings to customize in the Rarekiller Plugin
It is STRONGLY recommended you use the Configuration UI to change this
file instead of direct changein it here.
========================================================================-->
  <CATA>True</CATA>
  <WOTLK>True</WOTLK>
  <BC>True</BC>
  <LowRAR>True</LowRAR>
  <TLPD>True</TLPD>
  <Poseidus>True</Poseidus>
  <Aeonaxx>False</Aeonaxx>
  <Camel>True</Camel>
  <Collect>True</Collect>
  <Dormus>False</Dormus>
  <RaptorNest>True</RaptorNest>
  <Blazewing>False</Blazewing>
  <Vyragosa>True</Vyragosa>
  <ShootVyra>False</ShootVyra>
  <HuntByID>False</HuntByID>
  <MobID>
  </MobID>
  <NotKillTameable>False</NotKillTameable>
  <TameDefault>False</TameDefault>
  <TameByID>False</TameByID>
  <TameMobID>
  </TameMobID>
  <DefaultPull>True</DefaultPull>
  <Pull>
  </Pull>
  <Range>3</Range>
  <UseSlowfall>True</UseSlowfall>
  <Spell>True</Spell>
  <SlowfallSpell>Levitate</SlowfallSpell>
  <Cloak>False</Cloak>
  <Item>False</Item>
  <SlowfallItem>
  </SlowfallItem>
  <Falltimer>900</Falltimer>
  <GroundMountMode>False</GroundMountMode>
  <Keyer>True</Keyer>
  <DontKillTagged>False</DontKillTagged>
  <BlacklistTagged>False</BlacklistTagged>
  <WinnerTagged>False</WinnerTagged>
  <ZoneSave>False</ZoneSave>
  <BlacklistCheck>True</BlacklistCheck>
  <BlacklistTime>180</BlacklistTime>
  <ScreenAeonaxx>True</ScreenAeonaxx>
  <ScreenCamel>True</ScreenCamel>
  <ScreenRarekiller>True</ScreenRarekiller>
  <ScreenTamer>False</ScreenTamer>
  <ScreenFound>True</ScreenFound>
  <ScreenSuccess>True</ScreenSuccess>
  <Alert>True</Alert>
  <Wisper>False</Wisper>
  <GuildChat>False</GuildChat>
  <SoundfileFoundRare>E:\Games\WOW\Honorbuddy\Plugins\RareKiller\Sounds\siren1.wav</SoundfileFoundRare>
  <SoundfileWisper>E:\Games\WOW\Honorbuddy\Plugins\RareKiller\Sounds\siren.wav</SoundfileWisper>
  <SoundfileGuild>E:\Games\WOW\Honorbuddy\Plugins\RareKiller\Sounds\siren.wav</SoundfileGuild>
  <ContinentChange>False</ContinentChange>
  <KillWoW>False</KillWoW>
  <JustAlert>False</JustAlert>
  <LogOut>False</LogOut>
  <Message1>/s lol, why i'm now in</Message1>
  <Message2>/g I log off, bb</Message2>
  <PlayerFollows>False</PlayerFollows>
  <PlayerFollowsTime>180</PlayerFollowsTime>
  <LootSuccess>False</LootSuccess>
</Rarekiller>